<ion-list>
 

  <p><a href routerLink="/about" > ABOUT </a>
&nbsp; &nbsp; &nbsp;
<a href routerLink="/projects"> PROJECTS </a></p> 
<ion-item-group>
    <ion-item-divider color="light">I'M MATOME TONY KOBE ,BASED IN TEMBISA [WINNIE MANDELA] AND JOHANNESBURG [ROSSETONVILLE] . I DESIGN AND BUILD UI [USER INTERFACE] IN: </ion-item-divider>
    <ion-item>HTML</ion-item>
    <ion-item>CSS</ion-item>
    <ion-item>TYPESCRIPT</ion-item>
    <ion-item>JAVASCRIPT</ion-item>
    <ion-item>ANGULAR</ion-item>
    <ion-item>IONIC</ion-item>
  </ion-item-group>
 </ion-list>
 
 
 
 
 
 <ion-item>

<ion-icon name="scan-circle-outline" color="dark" routerLink="/profile"></ion-icon><ion-label>Back</ion-label>
</ion-item>
