<ion-list>
 <p><a href routerLink="/about" > ABOUT </a>
&nbsp; &nbsp; &nbsp;
<a href routerLink="/projects"> PROJECTS </a></p> 
<ion-grid>
<ion-row>
<ion-col>
I'M MATOME TONY KOBE ,BASED IN TEMBISA [WINNIE MANDELA] AND JOHANNESBURG [ROSSETONVILLE] . I DESIGN AND BUILD UI [USER INTERFACE] IN:
        <ul><li>HTML & CSS</li></ul>
        <ul><li>TYPESCRIPT</li></ul>
        <ul><li>JAVASCRIPT</li></ul>
        <ul><li>ANGULAR</li></ul>
        <ul><li>IONIC</li></ul>
</ion-col>
</ion-row>
</ion-grid>

 
 <ion-item>
</ion-item>
<ion-item>
<ion-icon name="scan-circle-outline" color="dark" routerLink="/profile"></ion-icon><ion-label>Back</ion-label>
</ion-item>
