
<ion-list>
<br>

<ion-icon name="call-outline"></ion-icon><ion-label color="primary">0845259828 | 0658142656</ion-label>
&nbsp; &nbsp; &nbsp;
<ion-icon name="mail-open-outline"></ion-icon><ion-label color="primary">tonykobe8@gmail.com</ion-label><br>
<p><a href routerLink="/about" > ABOUT </a>
&nbsp; &nbsp; &nbsp;
<a href routerLink="/projects"> PROJECTS </a></p>

<ion-avatar>
 <img src="https://stackblitz.com/files/ionic-5-angular-10-profile/github/tonykobe8/ionic-5-angular-10-profile/master/src/WP_20140322_005-1.jpg" width='400px' height='400px'>

</ion-avatar>
</ion-list>



